<h1>{{title}}</h1>
<div>
    {{image}}
</div>
<div>
    <p>Directed by: {{director}}</p>
    <p>Starring: {{stars}}</p>
    <p>Description: {{description}}</p>
    <p>Showtimes: {{showtimes}}</p>
</div>